/* Deze set regels is alleen voor kleine schermen (zoals
mobiele telefoons), met een maximale breedte van 480px */
@media screen and (max-width: 480px) {
	body {
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,7db9e8+100&1+0,0+100;Blue+to+Transparent */
		background: -moz-linear-gradient(
			top,
			rgba(30, 87, 153, 1) 0%,
			rgba(125, 185, 232, 0) 100%
		); /* FF3.6-15 */
		background: -webkit-linear-gradient(
			top,
			rgba(30, 87, 153, 1) 0%,
			rgba(125, 185, 232, 0) 100%
		); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(
			to bottom,
			rgba(30, 87, 153, 1) 0%,
			rgba(125, 185, 232, 0) 100%
		); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	}
	.plaatje {
		width: 80%;
		margin: 0 auto;
	}
}

/* Deze set regels is voor grotere schermen vanaf 481px */
@media screen and (min-width: 481px) {
	body {
		background-color: rgb(63, 10, 107);
		color: whitesmoke;
	}
	.plaatje {
		width: 400px;
		margin: 0 auto;
	}
}
/* Deze regel voor het image geldt *altijd*. Maar omdat hij in 
de class 'plaatje' is opgenomen, krijgt hij altijd een breedte
van 100% van zijn *omliggende element* */
img {
	max-width: 100%;
}
